@charset "utf-8";
.imgPosition{
		padding:15px;
		padding-left: 15px;
	}
.gridImage{
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	position: center center;
	width: auto;
	max-width: 95%;
	height: auto;
	max-height: inherit;
}
